@model IEnumerable<_4Tuga.Models.Tag>
@{
    ViewBag.Title = "Index";
}

<h2>Tags Listing </h2>

@Html.ActionLink("Create New Tag", "Create")
<hr />
<div>
    @foreach (var Tag in Model)
    {
        <p>
            <strong>@Tag.Nome | </strong>
            <span onclick="return confirm('Are you sure to delete?')"><a href="/Tags/Delete?Id=@Tag.ID" class="delLink" style="color:red;">Delete</a></span> |
            @Html.ActionLink("Edit", "Edit", new { Id = @Tag.ID })
        </p>
    }
</div>
