@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h3>Objetivos do site:</h3>

<p>O 4TUGA é uma página de entretenimento e lazer, baseado no site do 9GAG.</p>
<p>É um site que nos vai permitir mostrar como é o humor português, visto que não existe nenhum outro site do género na comunidade portuguesa.</p>
<p>Com este site pretendemos dar a melhor experiência possível aos utilizadores/visitantes do nosso site, onde podem escolher entre variados tópicos/categorias, entre as mais recentes novidades.</p>
<p>Os utilizadores poderão comentar e partilhar os post’s apresentados nesta página repleta de humor, em que também têm a possibilidade de seguir post’s publicados em outras plataformas por humoristas.</p>
<p>Os visitantes podem criar uma conta, todos os que não tenham conta podem ver as Categorias (<strong>temas</strong>), podem aceder/visualizar os artigos mas não podem comentar.</p>
<p>Os utilizadores podem fazer tudo tal como o visitante, com a excepção de que os (<strong>utilizadores</strong>) têm acesso a todo o site, também podem comentar post’s, para além de poder avaliar os post’s e comentários com Gosto/Não-Gosto.</p>
<p>Os utilizadores podem fazer pesquisas avançadas através de: (<strong>filtros, tags, likes, avaliação, categorias</strong>).</p>
<p>As pesquisas realizadas podem ser por Categorias que têm subcategorias, temas, palavras usadas nos post’s, entre outros.</p>
<p>Apenas e só os Administradores/Editores podem criar, editar e eliminar post’s (Editores só podem editar e eliminar os próprios post’s).</p>
<p>Em caso de existir um comportamento abusivo, é possível fazer o report de contas e/ou post’s, comentários impróprios, por parte dos utilizadores.</p>
<p>Os utilizadores têm acesso a um chat a que podem aceder e falar, em que cada um abrange um tema.</p>
<p>Os utilizadores possuem a hipótese de sugerir categorias aos administradores e editores.</p>
<p>Podem dar (<strong>Seguir</strong>) a editores/administradores favoritos, e também partilhar post’s nas redes sociais.</p>
<p>Todos os visitantes que tenham feito o login na página (<strong>utilizadores</strong>) podem ver os post’s e categorias, podem colocar comentários, etc.</p>
<p>O servidor deve verificar a fidedignidade das contas de utilizadores, em que são verificadas através da conta de e-mail utilizada no seu registo.</p>
<p>O servidor deve notificar os Administradores caso um utilizador tenha excesso de report abuses.</p>
<p>O servidor deve notificar os utilizadores de respostas (<strong>incluindo gostos, comentários</strong>) a comentários e post’s feitos por eles.</p>
<p>O servidor deve bloquear a utilizadores menores de idade, conteúdos para maiores que a idade permitida.</p>
<p>Os Administradores podem criar várias categorias/subcategorias, e ainda podem também criar/editar/eliminar contas de utilizadores e editores.</p>
