@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Morada"><strong>Morada:</strong></abbr><br />
    4TUGA<br />
    Aveiro, PT 3750-306<br />
    <abbr title="Telefone"><strong>Telefone:</strong></abbr><br />
    +351 234 800 999
</address>

<address>
    <abbr title="Telefone"><strong>Telefone:</strong></abbr><br />
    Suporte:   <a href="mailto:Suporte@4TUGA.com">Suporte@4TUGA.com</a><br />
    Marketing: <a href="mailto:Marketing@4TUGA.com">Marketing@4TUGA.com</a>
</address>