
@{
    ViewBag.Title = "Cookies";
}

<h2>Cookies</h2>

<p><h3>Politíca de Cookies</h3></p>

<p>Os cookies são utilizados no nosso site (<strong>4TUGA</strong>) para melhorar o desempenho e a sua experiência como utilizador.</p>
<p><h3>O que são cookies?</h3></p>
<p>Os cookies são pequenos ficheiros de texto que um site, ao ser visitado pelo utilizador, coloca no seu computador ou no seu dispositivo móvel através do browser.</p>
<p>
    A colocação de cookies ajudará o site a reconhecer o seu dispositivo na próxima vez que o utilizador o visita, retendo apenas informação relacionada com as
    preferências do utilizador, não incluindo como tal, os seus dados pessoais.
</p>
<p><h3> Para que servem os cookies? </h3></p>
<p>
    Os cookies são utilizados para ajudar a determinar a utilidade, interesse e o número de utilizações dos sites, permitindo maior rapidez e eficiência na navegação,
    eliminando a necessidade de introduzir, repetidamente, as mesmas informações.
</p>
<p><h3>Que tipo de cookies utilizamos?</h3></p>
<p><strong>Estritamente necessários:</strong> Permitem que os utilizadores naveguem no site e utilizem as suas aplicações, bem como aceder a áreas seguras do site.</p>
<p>Sem estes cookies os serviços que tenha requerido não podem ser prestados.</p>
<p><strong> Cookies analíticos:</strong> São utilizados para efeitos de criação e análise de estatísticas, no sentido de melhorar o funcionamento de cada site.</p>
<p>
    <strong> Cookies de funcionalidade:</strong> Guardam as preferências do utilizador relativamente à utilização do site, de forma que não seja necessário voltar a
    configurar o site cada vez que o visita. Evitam, por exemplo, introduzir nomes de utilizador de cada vez que se acede ao mesmo.
</p>
<p><strong> Cookies de terceiros:</strong> Medem o sucesso de aplicações e a eficácia da publicidade de terceiros.</p>
<p>
    <strong> Cookies de publicidade:</strong> Direcionam a publicidade em função dos interesses de cada utilizador, limitando, nomeadamente, a quantidade de vezes que
    vê um anúncio, ajudando a medir a eficácia da publicidade e o sucesso da organização do Website.
</p>
<p><h3> Estes tipos de cookies utilizados podem ser:</h3></p>
<p>
    <strong> Cookies permanentes:</strong> São aqueles que ficam armazenados ao nível do browser nos equipamentos de acesso, como os PCs, Smartphones e Tablets, e são
    utilizados sempre que se faz uma nova visita ao nosso site. Por norma, são utilizados para direccionar a navegação aos interesses do utilizador.
</p>
<p>
    <strong> Cookies de sessão:</strong> São os chamados cookies temporários que permanecem no arquivo de cookies do browser até sair do site. A informação obtida por
    estes cookies serve para analisar padrões de tráfego na Web, que nos permitem identificar problemas e fornecer uma melhor experiência de navegação ao utilizador.
</p>
<p><h3> Como gerir cookies: </h3></p>

<p>Todos os browsers permitem ao utilizador aceitar, recusar ou apagar cookies, através das definições do respectivo navegador.</p>
<p>De notar que, ao desactivar os cookies, alguns serviços podem deixar de funcionar correctamente, afetando de forma parcial ou mesmo total a navegação nos nossos sites.</p><br />

<p><h4> Internet Explorer</h4> </p>
<p>1) Clique no menu <strong>“Ferramentas”</strong> e escolha a opção <strong>“Opções de Internet”</strong>;</p>
<p>2) Selecione o separador <strong>“Privacidade”</strong>;</p>
<p>3) Mova a barra para o topo, onde surgirá <strong>“Bloquear todos as cookies”</strong>.</p>
<p>Link: http://windows.microsoft.com/pt-PT/windows-vista/Block-or-allow-cookies </p><br />

<p><h4> Mozilla Firefox </h4></p>
<p>1) Clique no menu <strong>“Ferramentas”</strong>;</p>
<p>2) Selecione <strong>“Opções”</strong>;</p>
<p>3) Clique no ícone <strong>“Privacidade”</strong>, que encontra no painel superior;</p>
<p>4) Na secção <strong>“Cookies”</strong> desactive a opção <strong>“Aceitar cookies dos sites”</strong>;</p>
<p>5) Clique em <strong>“OK”</strong> para guardar as alterações e fechar.</p>
<p>Link: http://support.mozilla.org/pt-PT/kb/Activar%20e%20Desactivar%20cookies?redirectlocale=en-US&redirectslug=Enabling+and+disabling+cookies </p><br />

<p><h4> Google Chrome </h4></p>
<p>1) Clicar em <strong>“Personalizar e Controlar o Google Chrome”</strong>;</p>
<p>2) Selecionar opção <strong>“Ferramentas”</strong>;</p>
<p>3) Clicar em <strong>“Limpar dados de navegação”</strong>;</p>
<p>4) Na caixa de seleção, <strong>“Limpe os seguintes itens de:”</strong> escolha a opção <strong>“desde sempre”</strong>;</p>
<p>5) Selecione as primeiras 4 opções e clique em <strong>“Limpar dados de navegação”</strong>.</p>
<p>Link: http://support.google.com/chrome/bin/answer.py?hl=pt&answer=95647&topic=14666&ctx=topic </p><br />

<p><h4> Safari </h4></p>
<p>1) Clique em <strong>“Editar”</strong>;</p>
<p>2) Selecione <strong>“Preferências”</strong>;</p>
<p>3) No painel superior, selecione o ícone <strong>“Segurança”</strong>;</p>
<p>4) Na secção <strong>“Aceitar cookies”</strong> , selecione <strong>“Nunca”</strong>.</p>
<p>Link: http://support.apple.com/kb/HT1677?viewlocale=pt_PT </p>

