
@{
    ViewBag.Title = "Regulation";
}

<h3>Regras</h3>

<p>Ao criar conta no site deve indicar que está ciente dos termos e condições e que os aceita.</p>
<p>Os conteúdos presentes no site só podem ser divulgados por utilizadores e qualquer desrespeito em relação ao site é punido com eliminação de conta.</p>
<p>
    Os post's que são publicados nesta página são autorizados apenas pelos próprios que os postam, e se forem demasiado agressivos, ou por conteúdos pornográficos,
    serão apagados do sistema.
</p>
<p>Os utilizadores estão impedidos de modificar o conteúdo de outros post's que tenham sido publicados sem serem os da sua autoria.</p>
<p>
    Os utilizadores devem estar cientes do conteúdo que publicam, e estar preparados caso haja repercussões por via de ser demasiado explícito ou de ser considerado
    impróprio por outros membros ou pelo administrador.
</p>
<p>
    Os utilizadores do site não devem publicar informações pessoais ou financeiras para outros membros, em que no caso de ocorrer algum problema o site não se
    responsabiliza.
</p>
<p>
    O 4TUGA não está obrigado a rever mensagens, informações ou conteúdos colocados por utilizadores no site e não assume nenhuma responsabilidade ou obrigação em
    relação a essas divulgações.
</p>
<p>
    No entanto, ao que foi mencionado acima, o 4TUGA poderá, raramente, verificar as divulgações feitas por meio do site, recusá-las, ou até ainda, remover
    divulgações que contenham:<br />
    Matérias publicadas de caráter ilegal, prejudicial, ameaçador, abusivo, assediador, difamatório, vulgar, obsceno, leigo, odioso, racista, étnico ou outros assuntos objetáveis,
    inclusive, mas não limitados;<br />
    Informações pessoais como: mensagens com números de telefone, números de contas, endereços entre outros;<br />
    Tal como os conteúdos aqui publicados os utilizadores poderão ter a conta banida.
</p>