@using _4Tuga.Models
@using System.Data.Entity
@model _4Tuga.Models.ApplicationUser

@{
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })

    ViewBag.Title = "View";
}

<h2>View</h2>

